<p>
  <b>Missing:</b>
  <%=h @pet.missing %>
</p>

<p>
  <b>Name:</b>
  <%=h @pet.name %>
</p>

<p>
  <b>Lastseen:</b>
  <%=h @pet.lastseen %>
</p>


<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
